<p>benefits component</p>
<!-- <section class="rl_agnt_services_sec" *ngIf="landingServices?.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 rl_agnt_services_title">
         <p>Support text here.</p> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 rl_agnt_services_single" *ngFor="let item of landingServices;">
        <a>
          <div class="rl_agnt_services_inner">
            <div class="agnt_serv_img">
              <div class="agnt_serv_img_bg"></div>
              <img class="real_vacban_desktop_img agnt_serv_img_sing" [src]="item.imageURL">
              <img class="real_vacban_mobile_img agnt_serv_img_sing" [src]="item.mobileImageURL?item.mobileImageURL:item.imageURL">
              <div class="agnt_serv_icn">
                <img class="real_vacban_desktop_img" [src]="item.rollOverIcon">
                <img class="real_vacban_mobile_img" [src]="item.mobileRollOverIcon?item.mobileRollOverIcon:item.rollOverIcon">
              </div>
            </div>
            <div class="agnt_serv_desc">
              <h5>{{item.title}}</h5>
              <p>{{item.description}}</p>
            </div>
            <div class="agnt_serv_border" [style.border-color]="brandpage?.callToActionColor"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->
